In [9]:
PATH = "../Data"
import pandas as pd
import sqlite3
import numpy as np

# Connect and pull everything from the db
con = sqlite3.connect(PATH+"/patents.db")
df = pd.read_sql_query("SELECT * FROM summary", con)
con.close()

# df.head()

,applicationNum,applicationStatus,filingDate,lodgementDate,titleOfInvention,ipc
0,10201807769Q,Abandoned,2018-09-10,2018-09-10,System to assess and develop skills for profes...,
1,10201807776V,Pending (Published),2015-08-07,2018-09-10,AN ARTICLE OF FURNITURE,None
2,10201807788Q,Pending (Published),2018-09-10,2018-09-10,SYSTEM AND METHOD FOR AUTOMATING USER INTERACT...,None
3,10201807790Y,Patent In Force,2018-09-10,2018-09-10,SEMICONDUCTOR DEVICES,H01L 29/49; H01L 29/423; H01L 29/78
4,10201807792S,Patent In Force,2018-09-10,2018-09-10,IMAGE SENSORS,H01L 27/146

# Process type of IPCs filed

In [115]:
df_ipc = df[['applicationNum', 'ipc']]
# Replace empty string and None with np.nan
df_ipc = df_ipc.fillna(np.nan).replace("", np.nan)
# Split ipcs into list
df_ipc['ipc'] = df_ipc['ipc'].str.split("; ")

## Split into different components of IPC

In [116]:
df_ipc = df_ipc.explode('ipc', ignore_index=True)
df_ipc = df_ipc.dropna().reset_index(drop=True)
df_ipc['ipc'] = df_ipc['ipc'].str.replace(" ", "")

df_ipc['section'] = df_ipc['ipc'].str[0] # letter
df_ipc['class'] = df_ipc['ipc'].str[:3] # section + 2 digits
df_ipc['subclass'] = df_ipc['ipc'].str[:4] # class + letter
df_ipc['main_group'] = df_ipc['ipc'].str.split("/").str[0] # subclass + 0-3 digits before /
df_ipc['subgroup'] = df_ipc['ipc'] # ipc itself

# df_ipc

,applicationNum,ipc,section,class,subclass,main_group,subgroup
0,10201807790Y,H01L29/49,H,H01,H01L,H01L29,H01L29/49
1,10201807790Y,H01L29/423,H,H01,H01L,H01L29,H01L29/423
2,10201807790Y,H01L29/78,H,H01,H01L,H01L29,H01L29/78
3,10201807792S,H01L27/146,H,H01,H01L,H01L27,H01L27/146
4,11201807765P,A61K39/395,A,A61,A61K,A61K39,A61K39/395
...,...,...,...,...,...,...,...
48748,11202008477X,G06F16/9537,G,G06,G06F,G06F16,G06F16/9537
48749,11202008477X,G06F17/30,G,G06,G06F,G06F17,G06F17/30
48750,11202008477X,G06Q30/02,G,G06,G06Q,G06Q30,G06Q30/02
48751,11202008478V,G06F17/30,G,G06,G06F,G06F17,G06F17/30
48752,11202008480Q,A61M15/00,A,A61,A61M,A61M15,A61M15/00

## Check IPC validity

### Section
Each section is designated by one of the capital letters A through H. 

Eg.H

In [117]:
df_ipc['section'].unique()

array(['H', 'A', 'C', 'G', 'B', 'E', 'F', 'D', 'I', '0', 'a'],
      dtype=object)

In [118]:
df_ipc[df_ipc['section'].isin(['I', '0'])]

,applicationNum,ipc,section,class,subclass,main_group,subgroup
7759,11201901436T,INV.A61M25/01,I,INV,INV.,INV.A61M25,INV.A61M25/01
10785,11201902828S,INV.G02B27/22,I,INV,INV.,INV.G02B27,INV.G02B27/22
18166,11201906300R,01D61/06,0,01D,01D6,01D61,01D61/06
20557,11201907553U,IPC(8)-G01R31/00,I,IPC,IPC(,IPC(8)-G01R31,IPC(8)-G01R31/00

In [119]:
# remove invalid ipcs
df_ipc = df_ipc[~df_ipc['section'].isin(['I', '0'])]

### Class
Each class symbol consists of 
- the section symbol 
- a two-digit number

Eg. H01

In [120]:
# ipcs with invalid class
invaid_class = [x for x in df_ipc['class'].unique() if not x[1:].isdigit()]
df_ipc[df_ipc['class'].isin(invaid_class)]

,applicationNum,ipc,section,class,subclass,main_group,subgroup
1999,11201810850X,CN12N15/75(2006.01)i,C,CN1,CN12,CN12N15,CN12N15/75(2006.01)i
8274,11201901642X,C0K14/715,C,C0K,C0K1,C0K14,C0K14/715
18165,11201906300R,BB01D61/58,B,BB0,BB01,BB01D61,BB01D61/58
18875,10201906789Q,additional:B64C27/08,a,add,addi,additional:B64C27,additional:B64C27/08

In [121]:
# remove invalid ipcs
df_ipc = df_ipc[~df_ipc['class'].isin(invaid_class)]

### Subclass
Each subclass symbol consists of 
- the class symbol 
- a capital letter

Eg. H01L

In [122]:
# ipcs with invalid subclass, check if last char is letter
invaid_subclass = [x for x in df_ipc['subclass'].unique() if not x[-1].isalpha()]
df_ipc[df_ipc['subclass'].isin(invaid_subclass)]

      applicationNum      ipc section class subclass main_group subgroup
7547    11201901350R  A232/06       A   A23     A232       A232  A232/06
11995   11201903312V       A6       A    A6       A6         A6       A6

In [123]:
# remove invalid ipcs
df_ipc = df_ipc[~df_ipc['subclass'].isin(invaid_subclass)]

### Main group
Each main group symbol consists of 
- the subclass symbol 
- a one- to three-digit number
- the oblique stroke
- the number 00.

Eg. H01L29/00

In [125]:
# ipcs with invalid main group, check if last 1-3 chars are digits
invaid_main_group = [x for x in df_ipc['main_group'].unique() if not x[4:].isdigit()]
df_ipc[df_ipc['main_group'].isin(invaid_main_group)]

,applicationNum,ipc,section,class,subclass,main_group,subgroup
84,10201807840Y,H01R,H,H01,H01R,H01R,H01R
6223,11201900775U,H04W/4/00,H,H04,H04W,H04W,H04W/4/00
6648,10201901022X,H04WH04L,H,H04,H04W,H04WH04L,H04WH04L
15776,11201904823P,F21Y115:10,F,F21,F21Y,F21Y115:10,F21Y115:10

In [126]:
# remove invalid ipcs
df_ipc = df_ipc[~df_ipc['main_group'].isin(invaid_main_group)]

### Sub group
Each subgroup symbol consists of 
- the subclass symbol 
- the one- to three-digit number of its main group
- the oblique stroke
- a number of at least two digits other than 00.

Eg. H01L29/49

In [139]:
# ipcs with invalid subgroup, check if last 1-3 chars are digits. Can have no subgroup too
invaid_subgroup = [x for x in df_ipc['subgroup'].str.split("/").str[1] if x!=np.nan or not x.isdigit()]
df_ipc[df_ipc['subgroup'].isin(invaid_subgroup)]

Empty DataFrame
Columns: [applicationNum, ipc, section, class, subclass, main_group, subgroup]
Index: []

In [126]:
# remove invalid ipcs
df_ipc = df_ipc[~df_ipc['subgroup'].isin(invaid_subgroup)]

In [140]:
# Connect and pull everything from the db
con = sqlite3.connect(PATH+"/patents.db")
df = pd.read_sql_query("SELECT * FROM app_ipc", con)
con.close()

In [141]:
df

Empty DataFrame
Columns: [applicationNum, ipc, section, class, subclass, mainGroup, subGroup]
Index: []